.DS_Store
SKAP.xcodeproj/project.xcworkspace/xcuserdata/yhc3l.xcuserdatad/UserInterfaceState.xcuserstate
SKAP.xcodeproj/project.xcworkspace/xcuserdata/asapersson.xcuserdatad/UserInterfaceState.xcuserstate
